<main class="h-screen">
  <header class="flex items-center p-2 gap-2 border-b-2">
      <%= image_tag "globe-outline.svg", alt: 'company-logo', class: "h-20"%>
    <h1 class="text-4xl font-bold">FooBar Lines</h1>
  </header>
</main>

